<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <h1 id="tagTitle"></h1>
  <div id="wordListContainer"></div>
  <button id="showDictionariesButton">Back</button>

  <script type="module" src="../Scripts/common.js"></script>
  <script type="module" src="../Scripts/eventHandlers.js"></script>
  <script type="module" src="../Scripts/api.js"></script>
  <script type="module" src="../Scripts/views.js"></script>
</body>
</html>