<!DOCTYPE html>
<html>
<head>
  <title>Popup</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <h1>Text Saver</h1>
  <button id="saveTextButton">Save Text</button>
  <button id="showTextsButton">Show My Texts</button>
  <button id="showDictionariesButton" class="popup-dictionaries">Show Dictionaries</button>
  <button id="logoutButton">Logout</button>
  <a id="privacyPolicyLink" href="https://samsdimkoprojects.pro/text_saver/api/policy" target="_blank">Privacy Policy</a>

  <script type="module" src="../Scripts/common.js"></script>
  <script type="module" src="../Scripts/api.js"></script>
  <script type="module" src="../Scripts/views.js"></script>
  <script type="module" src="../Scripts/eventHandlers.js"></script>
</body>
</html>
