<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <h1>Register</h1>
  
  <form id="registerForm">
    <!-- Register form fields -->
    <input type="text" id="usernameField" placeholder="Username" required><br>
    <input type="email" id="emailField" placeholder="Email" required><br>
    <input type="password" id="passwordField" placeholder="Password" required><br>
    <button type="submit">Register</button>
    <div id="messageContainer"></div>
  </form>

  <p>Already have an account? <a id="switchToLogin" href="#">Login</a></p>

  <script type="module" src="../Scripts/common.js"></script>
  <script type="module" src="../Scripts/eventHandlers.js"></script>
</body>
</html>