<!DOCTYPE html>
<html>
<head>
  <title>Text List</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <h1>Text List</h1>
  <div class="button-container">
    <button id="showDictionariesButton" class="listButton">Show Dictionaries</button>
    <button id="backButton" class="listButton">Back</button>
  </div>
  <div id="textListContainer"></div>

  <script type="module" src="../Scripts/common.js"></script>
  <script type="module" src="../Scripts/api.js"></script>
  <script type="module" src="../Scripts/views.js"></script>
  <script type="module" src="../Scripts/eventHandlers.js"></script>
</body>
</html>